<div class="accordion" id="accordion2">
	<div class="accordion-group">
    	<div class="accordion-heading">
    		<%= link_to "Index", root_path, class: "accordion-toggle" %>
    	</div>
    </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Capitulo 1<b class="caret"></b>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <%= link_to "Ejemplo: 1", cap1_eje_1_path %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Capitulo 2<b class="caret"></b>
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
       <%= link_to "Ejemplo: 1", cap2_eje_2_path %>
       <%= link_to "Ejemplo: 2", cap2_eje_3_path %>
      </div>
    </div>
  </div>
</div>